//   --﷽--

// declear color variable's

$darkJungleGreen: #071a1d;
$prussianBlue: #0b2c3c;
$raisanBlack01: #181c2b;
$raisanBlack02: #282b39;
$yellowGreen: #76c520;
$orangeSoda: #ff5a3d;
$cultured01: #ededed;
$cultured02: #f2f6f7;
$mistyRose: #f5dedb;
$aliceBlue: #f0f7ff;
$seashell: #fff2f0;
$cadet: #5d737e;
$white: #fff;
$black: #000;
$opal: #8bb1b1;
$shadow01: rgba(24, 45, 84, 0.1);
$shadow02: rgba(7, 26, 29, 0.1);
$transparentBlack: rgba(0, 0, 0, 0.2);


// declear fontProperty variable's

$fontNunitoSans: 'Nunito Sans', sans-serif;
$fontPoppins: 'Poppins', sans-serif;


// declear property variable's

$transition: all 0.4s linear;
$boxShadow01: 0 0.5rem 2rem 0 $shadow01;
$boxShadow02: 0 1.6rem 3.2rem $shadow02;



// happy coding !!!!
// this project made by Fahad at 7th May, 2022 