// --﷽--

// declear some color variable
$colorWhite: #fff;
$colorPink: #e84393;
$colorShadow: #ffb6c1;
$colorBlack: #000;
$colorLightBlack: #666;
$colorLightWhite: #eee;
$shadowColor: #0000001a;

// declear some property variable
$border: 0.1rem solid $colorBlack;
$transition: all 300ms linear;
$boxShadow: 0 0.5rem 1rem $shadowColor;
$cardShadow: 0.1rem 0.2rem 1rem $colorShadow;

// declear some font family variable
$fontPacifico: "Pacifico", cursive;
$fontPoppins: "Poppins", sans-serif;

// happy coding !!!!
// this project made by Fahad at 10th May, 2022.
