//   --﷽--

// declearing some color variables

$yellow: #fa9805;
$lightBlue: #244361;
$black: #000;
$lessBlack: rgba(0, 0, 0, 0.1);
$someBlack: rgba(0, 0, 0, 0.3);
$textBlack: #777;
$white: #fff;
$grey: #ddd;
$background: #f8f8fe;
$aliceBlue: #f0f8ff;

// sdeclear some property variable

$border: 0.1rem solid $someBlack;
$boxShadow: 0 0.5rem 1rem $someBlack;
$linearTransition: all 0.4s linear;
$easeTransition: all 0.4s ease;

// happy coding!!!!
// this project made by Fahad at 1st May, 2022.
